streamlit = 1.52.1
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-cohere==0.4.6
langchain-experimental==0.3.4
langchain-google-genai==2.1.12
langgraph = 1.0.1
python-dotenv = 1.2.1
fastapi = 0.125.0
faiss-cpu
rank_bm25
nltk
bs4
openpyxl
streamlit-mic-recorder
whisper
torch
tinydb
extra-streamlit-components